.main{
    border: 5px solid green;
    height: 300px;
    width: 200px;
    position: relative;
    background-color: grey;
}

.mainLogout{
    border: 5px solid green;
    height: 300px;
    width: 200px;
    position: relative;
    background-color: rgb(150, 10, 10);
}